.navbar-container {
    background-color: none;
    margin-top: 20px;
    /* Set the desired background color for the navigation bar */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: none;
    /* Set the same background color as the navbar container */
}

header img {
    max-height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    align-items: center;
    font-family: "Merriweather Sans", sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
    
}

nav a {
    color: #1f0909;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3 ease;
    
}

nav a:hover {
    background-color: #f66b2a;

}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: none;
    color: #fff;
    padding: 10px;
    
}

main {
    padding: 20px;
}

/* Reset default margin and padding for the whole page */
body, h1, h2, h3, p, ul, li {
    margin: 40px;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #210a0a;
    font-family: 'Merriweather Sans', sans-serif;
}

.Faq-container {
    margin-left: 50px;
    margin-right: 50px;
    
   
}
.faq {
    border: 1px solid #f58d17;
    border-radius: 10px;
    margin: 20px 0;
    padding: none;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 12px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
 
}

.question h3 {
    flex: 1;
}

.toggle-btn {
    font-size: 20px;
    border: none;
    background-color: rgb(244, 138, 46);
    cursor: pointer;
}

.answer {
    display: none;
    padding-top: 2px;
}

.answer p {
    font-size: 12px;
}
.show {
    display: block;
}

.waitlist-container {
    background-color: #f7dac3;
    padding: 20px;
    color: rgb(51, 39, 39);
    font-size: 24px;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
}

.waitlist-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#waitlist-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #f66b2a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #f48b4a;
}

footer {
    background-color: #f7dac3;
    color: #100808;
    padding: 30px 0;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-logo {
    max-height: 100px !important;
}

.footer-column img {
    max-width: 300px;
    max-height: 30px;
    max-width: 30px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    max-width: 30px;
    max-height: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

ul.contact-info {
    padding: 0;
}

ul.contact-info li {
    display: flex;
    align-items: center;
}

ul.contact-info img {
    margin-right: 10px;
}

.contact-info img {
    max-height: 20px;
    max-width: 20px;
}

.waitlist-heading-container {
    background-color: #f66b2a;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;

}

.waitlist-heading-container h1 {
    color: #fff;
}